a,
a:focus,
a:hover {
  color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
	color: #fff;
}



body {


  font-family: 'Kanit', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html,
body {
  height: 100%;
  background-color: #333;
}

.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
   color: #fff;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

.masthead {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: white;
  background: url(img/pexels-photo-176851.jpeg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .masthead .intro-body .brand-heading {
      font-size: 40px; }
    .masthead .intro-body .intro-text {
      font-size: 20px; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 0;      
  }
      .masthead .intro-body .brand-heading {
        font-size: 100px; }
      .masthead .intro-body .intro-text {
        font-size: 30px; } }

.container {
  width:  100%;
  position: relative;
}

.col-md-8.offset-md-2 {
  width:  100%;
  position: relative;
}

.about-me {
  display: table;
  width: 100%;
  /*
   height: 100%;
  */
  padding-top: 30px;
  text-align: center;
  color: black;
  /* 
   background: url(img/pexels-photo-176851.jpeg) no-repeat bottom center scroll;
  */
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
   .about-me h1{
      color: black;}
   .about-me p{
      color: black;}
    
   .about-me .endline{
    border: 0;
    width: 150px;
    border-top: 2px solid red;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;}

.slide-down{
    position: fixed;
	-webkit-animation-name: blink-icon;
    top: 90%;
    width: 100%;
	animation: blink-icon 1.5s linear infinite;
}

@keyframes blink-icon{
    0% { opacity:1; }
    50% { opacity:0; top:88%;}
    100% { opacity:1; }
}
@-webkit-keyframes blink-icon{
    0% { opacity:1; }
    50% { opacity:0; top:88%;}
    100% { opacity:1; }
}
@-moz-keyframes blink-icon{
    0% { opacity:1; }
    50% { opacity:0; top:88%;}
    100% { opacity:1; }
}
  
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    font-size: 30px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}